/*світла тема*/
:root {
  /*кольори*/
  --color-000: #000;
  --color-f00: #f00;
  --color-fb0: #fb0;
  --color-fff: #fff;
  --color-999: #999;
  --color-333: #333;
  --color-1: hsla(260, 50%, 70%, 0.7);
  
  
  /*
  градієнти
  */
  /*сторінки*/
  --gradient-1: 
    radial-gradient(at 50% 50%, hsla(0, 100%, 95%, 1) 0%, transparent 50%),
    linear-gradient(var(--color-fff), var(--color-fff));
  
  
  
  /*блоки з аніме топ та іншими*/
  --gradient-2: 
    radial-gradient(at 100% 0%, hsla(0, 100%, 97%, 1) 0%, transparent 30%),
    radial-gradient(at 100% 100%, hsla(320, 100%, 97%, 1) 0%, transparent 30%),
    radial-gradient(at 0% 100%, hsla(300, 100%, 97%, 1) 0%, transparent 30%),
    radial-gradient(at 0% 0%, hsla(340, 100%, 97%, 1) 0%, transparent 30%),
    linear-gradient(var(--color-fff), var(--color-fff));
    
  
  
  /*всі права захищені*/
  --gradient-3: 
    radial-gradient(at 50% 50%, hsla(0, 100%, 90%, 1) 0%, transparent 80%),
    linear-gradient(var(--color-fff), var(--color-fff));
  
  
  /*прозоре скло нижнього банера*/
  --gradient-4: 
    radial-gradient(at 50% 50%, hsla(0, 100%, 95%, 0.3) 0%, transparent 50%),
    linear-gradient(to bottom, rgba(240, 248, 255, 0.3), rgba(224, 255, 255, 0.3), rgba(173, 216, 230, 0.3));
  
  
  /*кнопки сторінок*/
  --gradient-5: linear-gradient(155deg, #B2D4D9 0%, #8BD7E3 90%);
  
  /*фон та текст логотипа*/
  --gradient-6: linear-gradient(45deg, hsla(0, 100%, 20%, 1), hsla(280, 100%, 20%, 1), hsla(240, 100%, 20%, 1));

  /*кнопки назад / підтвердити*/
  --gradient-7: linear-gradient(155deg, #FF4D4D 0%, #D63031 90%);
  
  /*кнопки фільтів аніме*/
  --gradient-8: linear-gradient(155deg, #FF0000 0%, #FF6B6B 90%);
  
  /*активні кнопки сторінок*/
  --gradient-9: linear-gradient(155deg, hsla(0, 100%, 100%, 1) 0%, hsla(0, 100%, 70%, 1) 100%);

  
  /*фон кнопки світла / темна тема*/
  --gradient-10: linear-gradient(155deg, #FFEBEB 0%, #FAD0C4 90%);
  /*зображення кнопки світла / темна тема*/
  --gradient-11: linear-gradient(135deg, #FF4B2B 0%, #FF416C 90%);

  
  
  /*фон кнопки додати в улюбене
  неактивна*/
  --gradient-12: linear-gradient(155deg, #F5F5F5 0%, #DCDDE1 90%);
  /*активна*/
  --gradient-13: linear-gradient(155deg, #FFEDED 0%, #FFCFCF 90%);
  /*сердце кнопки додати в улюбене
  неактивне*/
  --gradient-14: linear-gradient(135deg, #A5B1C2 0%, #778CA3 90%);
  /*активне*/
  --gradient-15: linear-gradient(135deg, #EB3B5A 0%, #B71540 90%);
  
  
  /*головний банер*/
  --gradient-16:
    radial-gradient(at 50% 0%, hsla(220, 70%, 80%, 1) 0, transparent 70%),
    radial-gradient(at 50% 100%, hsla(240, 50%, 70%, 1) 0, transparent 70%),
    linear-gradient(180deg, hsla(200, 50%, 80%, 1) 0, hsla(260, 100%, 70%, 1) 100%);
  
  
  /*обводка ОДНОГО із значень top/bottom/left/right*/
  --gradient-17: linear-gradient(90deg, hsla(0, 100%, 70%, 1) 0, hsla(0, 100%, 100%, 1) 50%, hsla(0, 100%, 60%, 1) 100%);
  
  
  /*обводка <<повного>> border*/
  --gradient-18:
    radial-gradient(at 0% 0%, hsla(0, 100%, 70%, 1) 0, transparent 30%),
    radial-gradient(at 50% 0%, hsla(0, 100%, 100%, 1) 0, transparent 30%),
    radial-gradient(at 100% 0%, hsla(0, 100%, 60%, 1) 0, transparent 30%),
    radial-gradient(at 100% 50%, hsla(0, 100%, 100%, 1) 0, transparent 30%),
    radial-gradient(at 100% 100%, hsla(0, 100%, 70%, 1) 0, transparent 30%),
    radial-gradient(at 50% 100%, hsla(0, 100%, 100%, 1) 0, transparent 30%),
    radial-gradient(at 0% 100%, hsla(0, 100%, 60%, 1) 0, transparent 30%),
    radial-gradient(at 0% 50%, hsla(0, 100%, 100%, 1) 0, transparent 30%);
  
  
  /*назва аніме*/
  --gradient-19: linear-gradient(180deg, hsla(240, 100%, 20%, 1), hsla(280, 100%, 20%, 1));

}



/*темна тема*/
[data-theme="dark"] {
  /*кольори*/
  --color-000: #fff;
  --color-f00: #f00;
  --color-fb0: #fb0;
  --color-fff: #000;
  --color-999: #333;
  --color-333: #fff;
  --color-1: hsla(240, 50%, 10%, 1);
  
  
  /*
  градієнти
  */
  /*сторінки*/
  --gradient-1: 
    radial-gradient(at 50% 50%, hsla(245, 100%, 9%, 1) 0%, transparent 50%),
    linear-gradient(var(--color-fff), var(--color-fff));
  
  
  
  /*блоки з аніме топ та іншими*/
  --gradient-2: 
    radial-gradient(at 100% 0%, hsla(220, 100%, 9%, 1) 0%, transparent 30%),
    radial-gradient(at 100% 100%, hsla(240, 100%, 9%, 1) 0%, transparent 30%),
    radial-gradient(at 0% 100%, hsla(260, 100%, 9%, 1) 0%, transparent 30%),
    radial-gradient(at 0% 0%, hsla(280, 100%, 9%, 1) 0%, transparent 30%),
    linear-gradient(var(--color-fff), var(--color-fff));
  
  
  
  /*всі права захищені*/
  --gradient-3: 
    radial-gradient(at 50% 50%, hsla(260, 100%, 20%, 1) 0%, transparent 80%),
    linear-gradient(var(--color-fff), var(--color-fff));
  
  
  /*прозоре скло нижнього банера*/
  --gradient-4: 
    radial-gradient(at 50% 50%, hsla(280, 100%, 9%, 0.3) 0%, transparent 50%),
    linear-gradient(to bottom, rgba(10, 0, 30, 0.3), rgba(0, 0, 10, 0.3), rgba(20, 0, 20, 0.3));
  
  
  /*кнопки сторінок*/
  --gradient-5: linear-gradient(155deg, hsla(200, 70%, 30%, 1) 0%, hsla(220, 70%, 20%, 1) 90%);
  
  /*фон та текст логотипа*/
  --gradient-6: linear-gradient(45deg, hsla(0, 100%, 80%, 1), hsla(280, 100%, 80%, 1), hsla(240, 100%, 80%, 1));
  
  /*кнопки назад / підтвердити*/
  --gradient-7: linear-gradient(155deg, #D63031 0%, #8B0000 90%);
  
  /*кнопки фільтів аніме*/
  --gradient-8: linear-gradient(155deg, #FF4B2B 0%, #A10B00 90%);
  
  /*активні кнопки сторінок*/
  --gradient-9: linear-gradient(155deg, #833471 0%, #1B1464 90%);
  
  
  /*фон кнопки світла / темна тема*/
  --gradient-10: linear-gradient(155deg, #0F0C29 0%, #000000 90%);
  /*зображення кнопки світла / темна тема*/
  --gradient-11: linear-gradient(135deg, #A29BFE 0%, #6C5CE7 90%);
  
  
  
  /*фон кнопки додати в улюбене
  неактивна*/
  --gradient-12: linear-gradient(155deg, #2F3542 0%, #1E272E 90%);
  /*активна*/
  --gradient-13: linear-gradient(155deg, #440A0C 0%, #200505 90%);
  /*сердце кнопки додати в улюбене
  неактивне*/
  --gradient-14: linear-gradient(135deg, #57606F 0%, #808E9B 90%);
  /*активне*/
  --gradient-15: linear-gradient(135deg, #FF5E57 0%, #D63031 90%);
  
  
  /*головний банер*/
  --gradient-16:
    radial-gradient(at 50% 0%, hsla(220, 70%, 20%, 1) 0, transparent 70%),
    radial-gradient(at 50% 100%, hsla(240, 50%, 10%, 1) 0, transparent 70%),
    linear-gradient(180deg, hsla(220, 50%, 20%, 1) 0, hsla(260, 100%, 10%, 1) 100%);
  
  
  /*обводка ОДНОГО із значень top/bottom/left/right*/
  --gradient-17: linear-gradient(90deg, hsla(280, 100%, 30%, 1) 0, hsla(0, 100%, 35%, 1) 50%, hsla(240, 100%, 30%, 1) 100%);
  
  
  /*обводка <<повного>> border*/
  --gradient-18:
    radial-gradient(at 0% 0%, hsla(240, 100%, 30%, 1) 0, transparent 30%),
    radial-gradient(at 50% 0%, hsla(0, 100%, 35%, 1) 0, transparent 30%),
    radial-gradient(at 100% 0%, hsla(260, 100%, 20%, 1) 0, transparent 30%),
    radial-gradient(at 100% 50%, hsla(0, 100%, 35%, 1) 0, transparent 30%),
    radial-gradient(at 100% 100%, hsla(280, 100%, 30%, 1) 0, transparent 30%),
    radial-gradient(at 50% 100%, hsla(0, 100%, 35%, 1) 0, transparent 30%),
    radial-gradient(at 0% 100%, hsla(220, 100%, 20%, 1) 0, transparent 30%),
    radial-gradient(at 0% 50%, hsla(0, 100%, 30%, 1) 0, transparent 30%);
  
  /*назва аніме*/
  --gradient-19: linear-gradient(180deg, hsla(240, 100%, 80%, 1), hsla(280, 100%, 80%, 1));

}



/*інші стилі*/
* {
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  flex-shrink: 0;
  box-sizing: border-box;
  color: var(--color-000);
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}


html, body, div {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

div {
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: center;
  position: relative;
}

button {
  border-radius: 10px;
  border: none;
}

iframe {
  border: none;
}



/*стилі для Markdown*/
.markdown h1 {margin: 5vmin auto;}
.markdown h2 {margin: 4vmin auto;}
.markdown h3 {margin: 3vmin auto;}
.markdown ul {margin: 5vmin auto;}
.markdown li {margin: 5vmin auto;}


.fa-solid {
  font-size: clamp(30px, 5vh, 60px);
}
.fa-solid-1 {
  font-size: 90%;
}


.button1 {
  display: none !important;
}


.anime-1:hover {
  animation: anime-active 0.7s ease;
}

@keyframes anime-active {
  0% {
    transform: translateY(0) scale(1);
  }
  50% {
    transform: translateY(-1vmax) scale(0.95);
  }
  100% {
    transform: translateY(0) scale(1);
  }
}


.fa-solid:active, .fa-solid:hover, .fa-solid:focus {
  animation: button-active-1 0.7s ease;
}

@keyframes button-active-1 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.70);
  }
  100% {
    transform: scale(1);
  }
}



/*стилі для альбомного режима*/
@media (orientation: landscape) {
  .panel-recomeng-1 {
    grid-template-columns: repeat(5, 1fr) !important;
  }
  
  .panel-2 {
    display: none !important;
  }
  
  .fa-solid-1 {
    font-size: 90%;
  }
  
  .button1 {
    display: block !important;
  }
  
  .filter-1 {
    grid-template-columns: repeat(6, 1fr) !important;
  }
  
  .filter-2 {
    grid-template-columns: repeat(8, 1fr) !important;
    padding: 0 0.375vw 0 0.375vw !important;
  }
  
  .anime-1 {
    margin: 1vmax !important;
    width: 18vmax !important;
  }
  
  .anime-viewing-grid-1 {
    grid-template-columns: repeat(1, 1fr 1.5fr) !important;
  }
  
  .characters-grid-1 {
    grid-template-columns: repeat(2, 1fr) !important;
  }
}
/*362 рядки кода*/